Repository nottinghamtec/PyRIGS, pull requests merged in 2020-01, with the labels that each got.

#390 Miscellaneous changes to the Asset DB
  RIGS/views.py
  assets/filters.py
  assets/forms.py
  assets/migrations/0009_auto_20200102_1933.py
  assets/migrations/0009_auto_20200102_1933_squashed_0011_auto_20200102_2040.py
  assets/migrations/0010_assetstatus_display_class.py
  assets/migrations/0010_auto_20200103_2134.py
  assets/migrations/0011_auto_20200102_2040.py
  assets/models.py
  assets/templates/asset_create.html
  assets/templates/asset_list.html
  assets/templates/asset_update.html
  assets/templates/partials/asset_list_table_body.html
  assets/templates/partials/purchasedetails_form.html
  assets/templates/partials/supplier_picker.html
  assets/templates/supplier_detail.html
  assets/templates/supplier_list.html
  assets/views.py
  templates/base_assets.html
Labels: asset-db, enhancement

#396 Disable password reset as temporary fix to vulnerability
  RIGS/templates/RIGS/password_reset_disable.html
  RIGS/urls.py
  RIGS/views.py
Labels: bug

#393 FEAT: Add oembed for assets
  PyRIGS/decorators.py
  assets/templates/asset_embed.html
  assets/urls.py
  assets/views.py
Labels: asset-db, enhancement

#395 Miscellaneous changes/fixes
  README.md
  RIGS/forms.py
  RIGS/regbackend.py
  RIGS/rigboard.py
  RIGS/static/css/screen.css
  RIGS/static/imgs/paperwork/corner-tr-su.jpg
  RIGS/static/scss/screen.scss
  RIGS/templates/RIGS/event_detail.html
  RIGS/templates/RIGS/version_changes.html
  RIGS/templates/RIGS/version_changes_change.html
  RIGS/test_functional.py
  assets/templates/asset_embed.html
Labels: rigboard
