Repository nottinghamtec/PyRIGS, pull requests merged in 2020-02, with the labels that each got.

#400 Add assets test suite
  PyRIGS/tests/base.py
  PyRIGS/tests/pages.py
  PyRIGS/tests/regions.py
  RIGS/templates/RIGS/organisation_detail.html
  RIGS/test_functional.py
  RIGS/test_models.py
  assets/apps.py
  assets/filters.py
  assets/management/commands/import_old_db.py
  assets/management/commands/update_old_db_file.py
  assets/migrations/0010_auto_20200207_1737.py
  assets/models.py
  assets/templates/asset_create.html
  assets/templates/asset_list.html
  assets/templates/asset_update.html
  assets/templates/partials/asset_buttons.html
  assets/templates/partials/asset_form.html
  assets/templates/partials/asset_list_table_body.html
  assets/templates/partials/cable_form.html
  assets/templates/partials/parent_form.html
  assets/templates/partials/purchasedetails_form.html
  assets/templates/supplier_list.html
  assets/templates/supplier_update.html
  assets/templatetags/asset_templatetags.py
  assets/tests/__init__.py
  assets/tests/pages.py
  assets/tests/test_assets.py
  assets/urls.py
  assets/views.py
  requirements.txt
  templates/base.html
  templates/form_errors.html
  templates/registration/loginform.html
Labels: asset-db, enhancement

#399 Add authorisation process for sign ups and allow access to EventDetail for basic users
  PyRIGS/settings.py
  RIGS/admin.py
  RIGS/forms.py
  RIGS/migrations/0036_profile_is_approved.py
  RIGS/migrations/0037_approve_legacy.py
  RIGS/models.py
  RIGS/signals.py
  RIGS/templates/RIGS/admin_awaiting_approval.html
  RIGS/templates/RIGS/admin_awaiting_approval.txt
  RIGS/templates/RIGS/event_detail.html
  RIGS/templates/RIGS/event_embed.html
  RIGS/templates/RIGS/event_table.html
  RIGS/templates/RIGS/index.html
  RIGS/templates/RIGS/item_row.html
  RIGS/templates/RIGS/item_table.html
  RIGS/test_functional.py
  RIGS/urls.py
  RIGS/views.py
  templates/registration/activation_complete.html
Labels: enhancement, ready-for-review

#248 Search
  RIGS/finance.py
  RIGS/rigboard.py
  RIGS/templates/RIGS/event_archive.html
  RIGS/templates/RIGS/index.html
  RIGS/templates/RIGS/invoice_list.html
  RIGS/templates/RIGS/invoice_list_archive.html
  RIGS/templates/RIGS/search_help.html
  RIGS/test_functional.py
  RIGS/test_unit.py
  RIGS/urls.py
  RIGS/views.py
Labels: enhancement, ready-for-review, rigboard
